<?xml version="1.0"?>
<config>
    <modules>
       <Eupago_Mbway>
          <version>1.0.1</version>
       </Eupago_Mbway>
    </modules>
    <global>
		<blocks>
			<mbway>
				<class>Eupago_Mbway_Block</class>
			</mbway>
		</blocks>
        <models>
            <mbway>
                <class>Eupago_Mbway_Model</class>
            </mbway>
        </models>
		<events>
			<sales_order_place_after>
				<observers>
					<eupago_mbway_order_observer>
						<type>singleton</type>
						<class>mbway/observer</class>
						<method>pendingPaymentState</method>
					</eupago_mbway_order_observer>
				</observers>
			</sales_order_place_after>
			<sales_order_invoice_save_after>
				<observers>
					<eupago_mbway_order_observer>
						<type>singleton</type>
						<class>mbway/observer</class>
						<method>sendInvoiceEmail</method>
					</eupago_mbway_order_observer>
				</observers>
			</sales_order_invoice_save_after>
		</events>
		<sales>
			<order>
				<states>
					<pending_payment>
						<visible_on_front>1</visible_on_front>
					</pending_payment>
				</states>
			</order>
		</sales>
    </global>
	<frontend>
		<routers>
			<Eupago_Mbway>
				<use>standard</use>
				<args>
					<module>Eupago_Mbway</module>
					<frontName>Eupago_Mbway</frontName>
				</args>
			</Eupago_Mbway>
		</routers>
	</frontend>
    <default>
        <payment>
            <mbway>
                <active>1</active>
                <model>mbway/mbway</model>
                <order_status>1</order_status>
                <login backend_model="adminhtml/system_config_backend_encrypted"/>
                <order_status>pending</order_status>
                <title>Eupago Mbway</title>
                <cgi_url>https://seguro.eupago.pt/eupagov5.wsdl</cgi_url>
                <debug>0</debug>
				<payment_action>order</payment_action>
            </mbway>
         </payment>
    </default>
</config>