<?xml version="1.0"?>
<config>
   <sections>
        <payment>
            <groups>
                <mbway translate="label" module="paygate">
                    <label>Eupago Mbway</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </title>
						<chave translate="label">
                            <label>API key</label>
                            <comment>Se ainda não tiver uma chave <![CDATA[ <a target="_blank" href="https://eupago.pt/registo?magento#registo_form">registe-se aqui</a> ]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </chave>
						<send_invoice_email translate="label">
                            <label>Send Invoice email</label>
							<comment>Envia o email de confirmação de pagamento (invoice email)</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </send_invoice_email>
						<mostra_icon translate="label">
                            <label>Show icon</label>
							<comment>Mostra icon do mbway na listagem de metodos de pagamento antes do titulo</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </mostra_icon>
						<frontend_template translate="label">
                            <label>Frontend Template</label>
							<comment>Selecione o tema e defina como os seus clientes vêm este método de pagamento</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>mbway/system_config_template</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </frontend_template>
                    </fields>
                </mbway>
            </groups>
        </payment>
    </sections>
</config>